<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <label>
      <input type="checkbox">
      <span class="menu"><span class="hamburger"></span></span>
      <ul>
        <li><a href="/books">All books</a></li>
        <li><a href="/">Find a book</a></li>
        <li><a href="/books/new">Create a book</a></li>
      </ul>
    </lable>
    <div class="home">
    <div class="home_container">
      <img class="home_image" src="/images/bg.jpg"/>
    </div>
    <div class="home_h1">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </div>
  </div>
  </body>
</html>
