@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Cutive Mono";
}



body {
	margin: 0;
	height: 100vh;
	line-height: 2rem;
	background: #C4B092;
	overflow-x: hidden;
}

.menu {
	position: absolute;
	right: -100px;
	top: -100px;
	z-index: 100;
	width: 200px;
	height: 200px;
	background: #C4B092;
	border-radius: 50% 50% 50% 50%;
	transition: .5s ease-in-out;
	box-shadow: 0 0 0 0 #C4B092, 0 0 0 0 #C4B092;
	cursor: pointer;
}

.hamburger {
	position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

.hamburger:after,
.hamburger:before {
	transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}

.hamburger:before {
	top: -10px;
}

.hamburger:after {
	bottom: -10px;
}

input {
	display: none;
}

input:checked + .menu {
	box-shadow: 0 0 0 100vw #C4B092, 0 0 0 100vh #C4B092;
    border-radius: 0;
}

input:checked + .hamburger {
	transform: rotate(45deg);
}
input:checked + .hamburger:after {
	transform: rotate(90deg);
	bottom: 0;
}
input:checked + .hamburger:before {
	transform: rotate(90deg);
    top: 0;
}

input:checked + .menu + ul {
    opacity: 1;
  }

ul {
	z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .25s 0s ease-in-out;
}

a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
}


.home {
	height: 100vh;
	background: #C4B092;
	display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
    position: relative;
}

.home_image {
    width: 100vw;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	-webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    margin-bottom: -50px;
}

.home_h1{
	color: #fff;
    position: absolute;
    top: 80px;
    right: 20px;
	font-style: bold;
}

  